.restaurant-menu{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
}
.meals-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}