.header-gradient {
  background: rgb(27, 67, 136);
  background: linear-gradient(
    25deg,
    rgba(27, 67, 136, 1) 0%,
    rgba(30, 144, 194, 1) 100%
  );
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -90;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: transparent;
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back-button p {
  margin-top: 4px;
}

.blog-details {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-image {
  background-color: #fff;
  height: 400px;
  width: 500px;
  padding: 10px;
  margin: 100px 0 50px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
}

.blog-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-details h1 {
  font-size: 25px;
  margin-bottom: 50px;
  color: #1b4388;
}

.blog-details p {
  font-size: 20px;
  margin-bottom: 100px;
  white-space: pre-line;
  line-height: 30px;
  color: #092350;
}
